name: CI

on:
  push:
    branches: [main, feature/*]

env:
  PUBG_API_KEY: ${{secrets.PUBG_API_KEY}}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: Install
        run: yarn install --frozen-lock
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test
